
  .parent {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: stretch;
    padding: 0 20px; 
    box-sizing: border-box;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .child {
    flex: 1;
    min-width: 280px; 
    max-width: 650px;
    min-height: 220px; 
    background-color: #7fc7d9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
  }
  
  .map {
    width: 100%;
    min-height: 220px;
    border-radius: 10px;
  }
  
  .inner-child {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: stretch; 
    gap: 10px;
    width: 80%;
  }
  
  .inner-child b {
    background-color: #0D567E;
    border-radius: 10px;
    color: #f7f7f7;
    padding: 8px;
    width: 100%; 
    text-align: center; 
  }
  
  @media (max-width: 576px) {
    .parent {
      flex-direction: column;
      padding: 40px; 
    }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .parent {
      flex-direction: column;
      padding: 40px; 
    }
  }
  
  @media (min-width: 769px) {
    .parent {
      flex-direction: row;
      padding: 40px;
    }
  }
  