.counter-container {
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  padding: 20px;
  flex-direction: row;
  align-items: center;
  margin-top:20px;
}

.counter {
  text-align: center; 
  flex: 1; 
  min-width: 200px; 
  padding: 20px;
  border-radius: 8px; 
  color: aliceblue;
  background: linear-gradient(
    135deg,          
    #e0f7fa 0%,      
    #0d567e 50%,     
    #003f5c 100%    
  );
}

.count {
  font-size: 2.5rem; 
  margin-bottom: 10px;
  color:aliceblue;
}
@media (min-width: 769px) {
  .counter-container {
    padding: 20px 40px; 
  }
}
@media (max-width: 768px) {
  .counter-container {
    flex-direction: column; 
    align-items: center;
  }

  .counter {
    min-width: 90%; 
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .count {
    font-size: 2rem; 
  }

  .counter-container {
    gap: 10px; 
  }
}
