
.heading_service {
  text-align: center;
  font-size: 2.2rem;
  margin-top: -20px;
  color: #0D567E;
  font-weight: bolder;
}

.main_services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.parents {
  flex: 1 1 calc(25% - 20px); 
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.card {
  width: 100%;
  max-width: 400px;
  padding-top: 50px;
  border: 3px solid rgb(255, 255, 255);
  transform-style: preserve-3d;
  background-size: 60px 60px;
  background-position: 0 0, 0 0;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  background: #ce4141;
  border-radius: 10px 100px 10px 10px;
  transition: all 0.5s ease-in-out;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
}

.content-box .card-title {
  display: inline-block;
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .card-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #f2f2f2;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  color: #365486;
  border-radius: 5px;
  background: white;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 60px);
}

.month {
  font-size: 20px;
}

.date-box {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background: white;
  border: 1px solid #365486;
  border-radius: 10px;
  padding: 10px;
  transform: translate3d(0px, 0px, 80px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.date-box span {
  display: block;
  text-align: center;
}

.date-box .month {
  color: #365486;
  font-size: 9px;
  font-weight: 700;
}

.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: #365486;
}

/* Responsive layout */
@media (min-width: 1024px) {
  .parents {
    flex: 1 1 calc(25% - 20px); /* Four cards per row */
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .parents {
    flex: 1 1 calc(50% - 20px); /* Two cards per row */
  }
}

@media (max-width: 768px) {
  .parents {
    flex: 1 1 calc(100% - 20px); /* One card per row */
  }
}
